.nav-logo {
  width: 122px;
  height: 40px;
  margin-right: 20rem;
}
.top-bar {
  padding-top: 2rem;
  background: transparent !important;
  border: none;
}
.top-bar-left{
  display: flex;
}

.menu {
  background: transparent !important;
  >li {
    > a {
      color: #000;
      letter-spacing: .1rem;
      font-size: 1rem;
    }
  }
}
