.nav-logo {
  width: 122px;
  height: 40px;
}
.top-bar {
  padding-top: 2rem;
  background: transparent !important;
  border: none;
}

.menu {
  font-weight: bold;
  background: transparent !important;
}
