.portfolio-section-title {
  padding-top: .5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: .1rem;
  font-size: 1.6rem;
  margin-bottom: .2rem;
}

.port-label {
  letter-spacing: .1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  margin-top: 1rem;
}

.port-link {
  letter-spacing: .1rem;
}


.port-border {
  width: 10%;
  height: .4rem;
  background-color: #fff;
}
.our-portfolio {
  background: $lightgrey;
}
