.what{
  background: url('../images/what_we_do.jpg') no-repeat;
  height: 28rem;
}

.what-text-title {
  padding-top: 5rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: .1rem;

}

.what-text {
  color: #fff;
  font-size: 1rem;
}

.we {
  background: url('../images/concepts.jpg') no-repeat;
  height: 28rem;
}

.do {
  background: url('../images/mobile_apps.jpg') no-repeat;
  height: 28rem;
}
.code {
  background: url('../images/coding.jpg') no-repeat;
  height: 28rem;

}
